<form action="./register" method="post" class="login-field">
  <%- include('./inputField', { account, data }) %>
  <section class="input-field grid-2">
    <div class="input-section">
      <label for="birthday-input">Birthday</label>
      <input value="<%- data.birthday %>" type="date" name="birthday" id="birthday-input" required>
    </div>
    <div class="input-section">
      <label for="gender">Gender</label>
      <select name="gender" id="gender" required>
        <% account.gender?.enum.forEach(value=>{ %>
        <option value="<%- value %>" <%-value == data?.gender ? 'selected':''%>><%-value%></option>
        <% }) %>
      </select>
    </div>
  </section>
  <% if (locals.err) { %>
  <span class="error-message">Register Fail!!!</span>
  <% } %>
  <section class="input-field">
    <input type="submit" value="Register">
  </section>
</form>