<%- contentFor('title') %>
CHANGE

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/stylesheets/users/change.css">
<script src=".././../js/users/change.js" type="module" defer></script>

<% const account = locals.account %>

<%- contentFor('body') %>
<%- include('../../partials/navbar') %>
<%- include('../../partials/acc-sidebar', {sections: ['Info','Change']}) %>
<main>
  <section class="main-container">
    <div class="header">
      <h1>Change</h1>
    </div>
    <div class="content">
      <form action="./change" method="post" class="update-field">
        <%- include('../../partials/register-form',{ 
          account, data: {}, button: 'Update'
        }) %>
      </form>
    </div>
  </section>
</main>